body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}  

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
} 

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0,0,0,0.3);
}

header {
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
}

.main-welcome-color {
    background-color: #ffffff;
}

.main-welcome p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;  
}

.main-welcome h2 {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333333;
}

.advantage-list {
    width: 400px;
    height: 256px;
    background-color: #81b3d2;
}

.advantage-list h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}

.advantage-list span, p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
}

.advantage-about h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
}

.advantage-about p, span {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
}

.order h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
}

.order p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #333333;
}

.footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}
.footer-generated p {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #000000;
}

.modal {
    width: 568px;
    height: 481px;
}

.modal h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
    width: 568px;
    height: 86px;
}

.modal p {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffffs;
    width: 568px;
    height: 86px;
}

.modal button {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    width: 568px;
    height: 86px;
}

.filter {
    
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
}

.filter h3 {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.filter-list {
    list-style: none;
}

.filter-list li {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.results-sort h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.results-sort p {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
}

.result-sort-list {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    list-style: none;
}

.result-sort-list li:first-child {
    color: #81b3d2;
}

.result-sort-list li:nth-child(2) {
    color: rgba(0,0,0,0.3);
}

.result-sort-list li:nth-child(3) {
    color: rgba(0,0,0,0.3);
}

.results-item h3, a {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.results-item a:hover {
    color: #81b3d2;
}

.results-item a:active {
    color: rgba(0,0,0,0.3);
}

.button-detail, .button-book {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
}

.button-detail {
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
}

.button-book {
    width: 142px;
    height: 27px;
    background-color: #766357;
}

.results-item p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #666666;
    background-color: #f2f2f2;
    width: 110px;
    height: 27px;
    padding: 5px 13px 6px 16px;
}

.button-detail:hover {
    background-color: #669ec0;
}

.button-detail:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.button-book:hover {
    background-color: #604e43;
}

.button-book:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.button-fiter {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    background-color:rgba(255, 255, 255, 0); 
    border-color: #ffffff;
    border-radius: 3px;
    border-width: 2px;
    width: 133px;
    height: 32px; 
}

.button-fiter:hover {
    color: #000000;
    background-color: #ffffff
}
